<div class="primary flex j-c-c">
  <div class="flex j-c-c">
    <h1>
      Our Company
    </h1>
  </div>
</div>

<div class="secondary flex">
  <div class="txt">
    <h2>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit impedit
      officia animi consequatur quo!
    </h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero consequuntur
      dolor, iusto esse fugit aperiam culpa porro nostrum quam quia nam, ab
      dolore harum fugiat, et eius iure inventore nihil.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero consequuntur
      dolor, iusto esse fugit aperiam culpa porro nostrum quam quia nam, ab
      dolore harum fugiat, et eius iure inventore nihil.
    </p>
  </div>
  <div class="img"></div>
</div>
<div class="secondary flex fd-r-r">
  <div class="txt">
    <h2>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit impedit
      officia animi consequatur quo!
    </h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero consequuntur
      dolor, iusto esse fugit aperiam culpa porro nostrum quam quia nam, ab
      dolore harum fugiat, et eius iure inventore nihil.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero consequuntur
      dolor, iusto esse fugit aperiam culpa porro nostrum quam quia nam, ab
      dolore harum fugiat, et eius iure inventore nihil.
    </p>
  </div>
  <div class="img"></div>
</div>
<div class="secondary flex">
  <div class="txt">
    <h2>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit impedit
      officia animi consequatur quo!
    </h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero consequuntur
      dolor, iusto esse fugit aperiam culpa porro nostrum quam quia nam, ab
      dolore harum fugiat, et eius iure inventore nihil.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero consequuntur
      dolor, iusto esse fugit aperiam culpa porro nostrum quam quia nam, ab
      dolore harum fugiat, et eius iure inventore nihil.
    </p>
  </div>
  <div class="img"></div>
</div>
<div class="secondary flex j-c-c">
  <div class="flex">
    <h2 class="big">
      Sed ultrices nisl velit, eu ornare est ullamcorper nunc quis nibh magna
      lorem
    </h2>
  </div>
</div>
<div class="secondary flex fd-r-r">
  <div class="txt">
    <h2>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit impedit
      officia animi consequatur quo!
    </h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero consequuntur
      dolor, iusto esse fugit aperiam culpa porro nostrum quam quia nam, ab
      dolore harum fugiat, et eius iure inventore nihil.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero consequuntur
      dolor, iusto esse fugit aperiam culpa porro nostrum quam quia nam, ab
      dolore harum fugiat, et eius iure inventore nihil.
    </p>
  </div>
  <div class="img"></div>
</div>
