<mat-toolbar>
  <mat-toolbar-row class="flex j-c-s-b">
    <h3>Productivv</h3>
    <ul class="flex">
      <li>
        <a routerLink="./">
          Home
        </a>
      </li>
      <li>
        <a routerLink="./products">Products</a>
      </li>
      <li>
        <a routerLink="./details">Details</a>
      </li>
      <li>
        <a routerLink="./ourcompany">Our Company</a>
      </li>
      <li>
        <a routerLink="./contact">Contact</a>
      </li>
      <li>
        <a routerLink="./buynow">Buy now</a>
      </li>
    </ul>
  </mat-toolbar-row>
</mat-toolbar>
