<div class="container">
  <div class="i-con">
    <div class="heading flex j-c-c">
      <h1>
        Products
      </h1>
    </div>
    <div class="sub-menu flex">
      <ul class="flex">
        <li
          routerLinkActive="active"
          [routerLinkActiveOptions]="{
            exact: true
          }"
          *ngFor="let link of links"
          [routerLink]="['./', link.param]"
        >
          {{ link.label }}
        </li>
      </ul>
    </div>
    <div class="flex">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
