img {
  height: 200px !important;
}

button.custom {
  border-radius: 20px;
  border: 1px solid rgb(0, 89, 255);
  font-weight: 400;
  font-size: 12px;
  color: rgb(0, 89, 255);
}
button.custom:hover {
  border-radius: 20px;
  border: 1px solid var(--primary);
  font-weight: 400;
  font-size: 12px;
  background-color: #fff;
  color: var(--primary);
}
