<div class="prime flex j-c-s-b">
  <div></div>
  <div class="bg" [ngStyle]="{ 'background-image': val }"></div>
</div>

<div class="actual">
  <div></div>
  <div class="first flex j-c-c">
    <div class="heading">
      <p>
        LOREM IPSUM DOLOR
      </p>
      <h1>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab, quaerat?
        Eaque doloremque sed impedit dolor mollitia
      </h1>
    </div>
  </div>
  <div></div>
</div>
<div class="actual g-bg">
  <div></div>
  <div class="second flex j-c-c">
    <div class="img"></div>
    <div>
      <app-fruits-details></app-fruits-details>
    </div>
  </div>
  <div></div>
</div>
<div class="actual third-bg">
  <div></div>
  <div class="third flex j-c-c">
    <div class="flex">
      <div class="l-block flex fd-c">
        <h1>
          Simple heading
        </h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis
          quo accusantium hic natus tempora maxime aspernatur in placeat eveniet
          ducimus quod commodi blanditiis vitae odio dolores incidunt quam,
          voluptatum sapiente.
        </p>
      </div>
    </div>
  </div>
  <div></div>
</div>
