<ul class="flex">
  <li class="flex fd-c">
    <img
      src="http://be.beantownthemes.com/html/content/diet2/images/diet2-icon-strawberry.png"
      alt=""
    />
    <h2>
      Quantone
    </h2>
    <p>
      Sed ultrices nisl velit, eu ornare est ullamcorper a. Nunc quis nibh
      magna.
    </p>
  </li>
  <li class="flex fd-c">
    <img
      src="http://be.beantownthemes.com/html/content/diet2/images/diet2-icon-strawberry.png"
      alt=""
    />
    <h2>
      Quantone
    </h2>
    <p>
      Sed ultrices nisl velit, eu ornare est ullamcorper a. Nunc quis nibh
      magna.
    </p>
  </li>
  <li class="flex fd-c">
    <img
      src="http://be.beantownthemes.com/html/content/diet2/images/diet2-icon-strawberry.png"
      alt=""
    />
    <h2>
      Quantone
    </h2>
    <p>
      Sed ultrices nisl velit, eu ornare est ullamcorper a. Nunc quis nibh
      magna.
    </p>
  </li>
  <li class="flex fd-c">
    <img
      src="http://be.beantownthemes.com/html/content/diet2/images/diet2-company-apple-icon.png"
      alt=""
    />
    <h2>
      Quantone
    </h2>
    <p>
      Sed ultrices nisl velit, eu ornare est ullamcorper a. Nunc quis nibh
      magna.
    </p>
  </li>
</ul>
